* {
    text-align: right;
}
body {
    background-image: url(background.jpg);
    background-size: cover;
}
h2, p {
    color: #AA3939;
    text-align: center;
    cursor: pointer;
    border: 5px dashed #801515;
}
p {
    color: blue;
    line-height: 5px;
    font-weight: bold;
    font-size: 100%;
    font-family: 'poiret one', cursive, Georgia, 'Times New Roman', Times, serif;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline;

}

.webtext {
    color: green;
    border-color: green;
}

.active {
    color: blue;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(0, 200, 255, 0.2);
}